.cart {
  display: flex;
  flex-direction: row;
  height: 80vh;
  justify-content: center;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 300px;

    &__changecontainer {
      width: 100px;
      display: flex;
      justify-content: space-around;

      p {
        width: 30px;
        height: 30px;
        border: 1px solid black;
        border-radius: 2px 2px;
      }
    }

    img {
      width: 50px;
      height: 50px;
    }

    button {
      width: 100px;
    }
  }
}
