@use "mixins";

footer {
  display: flex;
  flex-direction: column;
  text-align: left;

  @include mixins.tablet {
        
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: left;
    
    
  }

  background-color: rgb(220, 38, 71);
  color: whitesmoke;
  margin-top: 0;
  padding: 1em;
  
  

  a {
    text-decoration: none;
    color: whitesmoke;
  }

  a:hover {
    cursor: pointer;
    color: whitesmoke;
    text-decoration: underline;
  }
  
  
  
  .inst {
      
    margin-top: 1.2%;
    margin-bottom: 1.2%;
  }
}
