@use "variables" as var;

.buttons {
  width: 200px;
  height: 50px;
  background-color: var.$primarycolor;
  border: var.$primarycolor;
  border-radius: 15px 15px;

  &:hover {
    cursor: pointer;
    background: rgb(189, 4, 38);
}
}

