@use "variables" as var;

@mixin desktop {
  @media screen and (min-width: 1100px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin buttons {
  width: 200px;
  height: 50px;
  background-color: var.$primarycolor;
  border: var.$primarycolor;
  border-radius: 15px 15px;
}
