.forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: 50px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.inputs {
  border: 1px solid lightgray;
  margin-bottom: 5px;
  margin-top: 15px;
  padding: 12px;
  border-radius: 2px;
}

.submit-button {
  margin-top: 5%;
  border-radius: 5px;
  background-color: black;
  color: white;
  width: 50%;
  height: 25%;
  padding: 12px;
  cursor: pointer;
  margin-bottom: 10px;

  &:hover{
    background-color: rgb(44, 41, 41);
  }

}


