@use "mixins";
@use "variables" as var;

.prodImg {
  width: 50%;
  @include mixins.desktop {
    width: 30%;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
.filter-btn {
  width: auto;
  font-size: 0.5em;
}

.prodImgModal {
  width: 450px;
  height: auto;
}

.shoppingcart {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: auto;
    margin: 10px;
    margin-left: 30px;
    margin-right: 30px;
    // border: 1px solid var.$secondarycolor;
    background-color: white;
    h3 {
      font-size: 0.8em;
    }

    &__changecontainer {
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      p {
        width: 30%;
        height: 50%;
        margin: 0px;
        text-align: center;
        border: 1px solid black;
        border-radius: 2px 2px;
      }
    }

    img {
      width: 30%;
      height: auto;
    }
    p {
      margin: 0px;
      text-align: center;
    }

    button {
      font-size: 0.7em;
      width: 30%;
      height: 10%;
      margin-bottom: 5px;
      margin-top: 0px;
    }
  }
}
.totalamount {
  font-size: 1.5em;

  text-align: center;
}
