@use "variables" as var;

.shoppingcart {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: auto;
    margin: 10px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: white;
    h3 {
      font-size: 0.8em;
    }

    &__changecontainer {
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      p {
        width: 30%;
        height: 50%;
        margin: 0px;
        text-align: center;
        border: 1px solid var.$secondarycolor;
        border-radius: 2px 2px;
      }
    }

    img {
      width: 30%;
      height: auto;
    }
    p {
      margin: 0px;
      text-align: center;
    }

    button {
      font-size: 0.7em;
      width: 30%;
      height: 10%;
      margin-bottom: 5px;
      margin-top: 0px;
    }
  }
}
.totalamount {
  font-size: 1.5em;

  text-align: center;
}

//SIDEBAR

.content {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
}
.sidebar {
  height: auto;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(213, 178, 178);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  padding-bottom: 30px;
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  &:hover {
    cursor: pointer;
  }
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 30px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: rgb(214, 214, 214);
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}
