#background {
  background-image: url(../assets/christmas-background3.jpg);
  background-size: cover;
  height: 100vh;
  width: auto;
  padding: 0%;
  background-position: center;
  position: relative;
  #button-product {
    position: absolute;
    margin-left: 50%;
    margin-right: -100px;
    top: 50%;
    right: 50%;
  }
}
