main {
  background-image: url(../assets/christmas-background3.jpg);
  background-size: cover;
  height: 100vh;
  width: auto;
  padding: 0%;
  background-position: center;
}

.container-fluid {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
