main {
  background-image: url(../assets/christmas-background3.jpg);
  background-size: cover;
  height: 100vh;
  width: auto;
  padding: 0%;
  background-position: center;

  .button-container {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
